{% load i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="{{ SITE_DOMAIN }}" />
    <title>{{ SITE_NAME }}</title>

    <link rel="stylesheet" href="/static/opencore.css" 
	  type="text/css" media="all" />
    <!--[if IE]>
    <link rel="stylesheet" href="/++resource++css/ie.css" type="text/css" media="all" />
    <![endif]-->
    <!--[if IE 6]>
    <link rel="stylesheet" href="/++resource++css/ie6.css" type="text/css" media="all" />
    <![endif]-->
    
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    
    <!-- theme CSS -->
    <link rel="stylesheet" href="/static/theme.css"
	  type="text/css" media="all" />
    <!-- TODO print style sheet -->

    <script type="text/javascript" src="/static/js/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="/static/js/connection-min.js"></script>
    <script type="text/javascript" src="/static/js/animation-min.js"></script>
    <script type="text/javascript" src="/static/js/ext.js"></script>
    <link rel="stylesheet" type="text/css"
	  href="/static/xtheme-opencore.css" />
    
    <script type="text/javascript" src="/static/js/oc-behaviors.js"></script>
    
  </head>  
  <body>
    <div id="oc-page-container">
      <div id="oc-topnav-wrapper">
        <div id="oc-topnav" style="padding:0.8em">
	  
	  <h1>
	    <a href="{{ SITE_DOMAIN }}">{{ SITE_NAME }}</a>
	  </h1>
	  
	  <ul id="oc-topnav-context" class="oc-clearAfter">
	    <li>
	      <a href="{% url 'people' %}">{% blocktrans %}People{% endblocktrans %}</a>
	    </li>
	    <li>
	      <a href="{% url 'projects' %}">{% blocktrans %}Projects{% endblocktrans %}</a>
	    </li>
	    <li>
	      <a href="{% url 'projects_create' %}">{% blocktrans %}Start A Project{% endblocktrans %}</a>
	    </li>
	  </ul>

	  <div id="oc-topnav-tab">
	    <div id="oc-topnav-globalmenu-container">
	      <ul id="oc-topnav-globalmenu" class="oc-dropdown-list">
		<li class="oc-dropdown-container">
		  <a href="{{ SITE_DOMAIN }}">
		    <h3 style="display: inline;text-transform:none;font-weight:bold;"
			alt="{{ SITE_NAME }}">
		      {{ SITE_NAME }}
		    </h3>
		  </a>
		  
		  <ul id="oc-usermenu-explore" style="display:none;">
		    <li>
		      <a href="{{ SITE_DOMAIN }}">{% blocktrans %}Home{% endblocktrans %}</a>
		    </li>

		    <li>
		      <a href="{% url 'people' %}">{% blocktrans %}People{% endblocktrans %}</a>
		    </li>

		    <li>
		      <a href="{% url 'projects' %}">
			{% blocktrans %}Projects{% endblocktrans %}
		      </a>
		    </li>
		    
		    <li>
		      <a href="{% url 'projects_create' %}">
			{% blocktrans %}Start A Project{% endblocktrans %}
		      </a>
		    </li>
		  </ul>

		</li>
	      </ul>

	      <form name="searchform" id="oc-sitesearch"
		    onsubmit="return liveSearchSubmit()"
		    action="{% url 'search_everything' %}">
		<input id="searchGadget" name="search_for" type="text" size="10"
		       title="{% blocktrans %}Search site{% endblocktrans %}" 
		       accesskey="4" class="oc-input-typeText" />
	      </form>
	    </div>
    
	    <div id="oc-topnav-usermenu-container" style="clear:both">
	      <div style="clear:both">
	
		<ul id="oc-topnav-usermenu" class="oc-dropdown-list">
		  {% if request.user.is_anonymous %}
		  <li>
		    <a href="{% url 'login' %}">{% blocktrans %}Sign in{% endblocktrans %}</a>
		  </li>
		  <li>
		    <a href="{% url 'join' %}">{% blocktrans %}Create account{% endblocktrans %}</a>
		  </li>
		  {% else %}
		  <li class="oc-dropdown-container">
		    <a href="{{ request.user.profile.homepage_url %}">
		      {{ request.user.username }}

		      <span class="oc-usermenu-messagecount">
			<span id="num_updates_top">({{ num_user_updates}})</span>
		      </span>
		    </a>

		    <ul id="oc-usermenu-mystuff" style="display:none;">
		      <li>
			<a href="{% url 'people_person_profile' request.user.username %}">
			  {% blocktrans %}Profile{% endblocktrans %}
			</a>
		      </li>
		      <li>
			<a href="{% url 'people_person_account' request.user.username %}">
			  {% blocktrans %}Account{% endblocktrans %}
			  <span class="oc-mystuff-messagecount">
			    {% blocktrans %}({{ num_user_updates }} messages){% endblocktrans %}
			  </span>
			</a>
		      </li>
    
		      <li><hr class="oc-usermenu-divider" /></li>
    
		      {% for project in user_projects %}
		      <li>
			<a href="{{ project.homepage_url }}">{{ project.name }}</a>
		      </li>
		      {% empty %}
		      {% blocktrans %}You don't belong to any projects!{% endblocktrans %}
		      {% endfor %}
		    </ul>
		  <li>
		    <a href="{% url 'logout' %}">{% blocktrans %}Sign out{% endblocktrans %}</a>
		  </li>
		  
		  {% endif %}

		</ul>
	      </div>
	    </div>        
	  </div>
	</div>
	
      </div>

      <div id="oc-content-wrapper">
	
        <div id="oc-content-container">
	  <span id="oc-statusMessage-container">
	  </span>

          <!-- content is injected here -->
          {% block content %}

	  {% endblock %}


          <hr class="oc-clearElement" />
          
        </div>
      </div>
      <div id="oc-footer-wrapper">
        <div id="oc-footer">
	  <ul class="oc-smallText">
	    <li><a href="http://openfsm.net/about">about</a></li>
	    <li><a href="http://openfsm.net/contact-site-admin">contact</a></li>
	    <li><a href="http://openfsm.net/news">news</a></li>
	    <li><a href="http://openfsm.net/projects/openfsm-info">help</a></li>
	    <!-- <li><a tal:attributes="href string:${here/portal_url}/legal">legal</a></li> -->
	    <!-- <li><a tal:attributes="href string:${here/portal_url}/privacy">privacy</a></li> -->
	  </ul>
	  
	  <div id="oc-footer-about" class="oc-smallText">
	    {% url "people" as people_url %}
	    {% url "projects" as projects_url %}
	    {% blocktrans %}{{ SITE_NAME }} is <a href="{{ people_url }}">{{ NUM_PEOPLE }} people</a> and <a href="{{ projects_url }}">{{ NUM_PROJECTS }} projects</a> since {{ SITE_BIRTHDATE }}.{% endblocktrans %}

	    <p>
	      The content of this website is licensed under a 
	      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License</a>, unless otherwise noted by the content's producers.
	      <br />
	      Powered by <a href="http://www.coactivate.org/projects/opencore">OpenCore</a>, created by <a href="https://unweb.me">unweb.me</a>.
	    </p>
    
	  </div>
	</div>
	
      </div>
    </div>
    
  </body>
</html>
